.wrapper {
    width: 64px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 6px;
    margin-right: 6px;
    user-select: none;
}

.toggle-wrapper {
    position: relative;
    height: 28px;
    width: 100%;
    box-shadow: inset 0px 0px 6px var(--title-text);
    border-radius: 14px;
    cursor: pointer;
}

.switch-toggle {
    position: absolute;
    top: 2.5px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid var(--title-text);
    transition: box-shadow 300ms, left 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 16px;
}